body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: url('./assets/light_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
